.banner{
  height: 30vh;
  min-height: 240px;
  background-image: url('../Resources/Place-holder.png');
  background-repeat: round;
  display: flex;
  justify-content: center;
  align-items: end;
}

.banner__content{
  width: 76vw;
  height: 50%;
  color: #ccc;
  margin-bottom: calc(30vh/10);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner__title{
  font-size: 50px;
  font-weight: bold;
  display: block;
}

.banner__subtitle{
  font-size: 19px;
  display: block;
}

.consoles-btn{
  background: var(--button-color);
  color: #FFF;
  width: 68px;
  font-size: 11px;
  padding: 10px;
}

.products-container{
  height: 80vh;
  min-height: 625px;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.products-div{
  height: 30%;
  display: grid;
  grid-template: "top" 15% "products" 80% ;
  row-gap: 5%;
}

.products-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
}

.products-top__link{
  font-size: 13px;
  color: var(--button-color);
  background-image: url(../Resources/Vector.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.products-top__link span{
  margin-right: 20px;
}

.products-bottom{
  background: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .banner__content{
    width: 95vw;
  }
}

@media screen and (max-width: 600px) {
    .banner__title{
    font-size: 35px;
  }

  .banner__subtitle{
    font-size: 16px;
  }

  .consoles-btn{
    padding: 13px;
  }
}
