.temp-border{
  border: 1px solid blue;
}

.header{
  display: flex;
  background-color: #f8f8f8;
  min-height: 80px;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

.header-container{
  display:flex ;
  justify-content: space-around;
  width: 76vw;
  height: 100%;
  align-items: center;
}

.header-search{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  min-width: calc((1440px/100)*12);
  height: calc((80px/100) *60);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo__img{
  width: 99%;
  height: 100%;
}

.search{
  border-radius: 20px;
  border-style: none;
  background-color: #efefef;
  height:25px;
  width: 50%;
  margin-left: 20px;
}

.login{
  border: 1px solid #2A7AE4;
  color: #2A7AE4;
  font-size: 17px;
  width: 15%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.banner{

}

@media screen and (max-width: 600px) {
  .search{
    display: none;
  }

  .logo__img{
    width: 75%;
    height: 80%;
  }

  .login{
    width: 33vw;
  }
}

@media screen and (min-width:601px) and (max-width: 920px) {
  .header{
    display: block;
    padding: 0 25px;
  }

  .header-container{
    width: 100%;
    justify-content: space-between;
  }

  .header-search{
    width: 65%;
    justify-content: flex-start;
  }

  .logo__img{
    width: 75%;
    height: 80%;
  }

  .search{
    height: 40px;
  }

  .login{
    width: 20%;
    height: 50%;
  }
}
